* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    forced-color-adjust: none;
    background-color: #444;
    overflow: hidden;
}

.container {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
justify-content: center;
}

.aside__btn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
 width: 200px;
 height: 600px;
 margin-right: 30px;

}

.btn{
    forced-color-adjust: none;
    width: 150px;
    height: 50px;
    font-family: Algerian, serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ccb69c;
    color: #6c4e2c;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover {
    forced-color-adjust: none;
    background-color: #d1c7ab;
   
}

.btn:active {
    forced-color-adjust: none;
  border: 5px solid rgb(40, 62, 40);  
}

h1 {
    forced-color-adjust: none;
    position: relative;
    font-family: Algerian, serif;
    color: blanchedalmond;
    font-size: 28px;
 margin-bottom: 10px;
 text-align: end;
 margin-right: 720px;
}

.score {
    forced-color-adjust: none;
    color: #f00;
}

.field {
    forced-color-adjust: none;
    display: flex;
position: relative;
width: 600px;
height: 600px;
background-color: blanchedalmond;
/*border: 10px solid #6c4e2c;*/
flex-wrap: wrap;
margin-bottom: 20px;
}

.snake {
    forced-color-adjust: none;
    width: 20px;
    height: 20px;
    background-color: #264a25;
    border: 2px solid #785e26;
    border-radius: 5px;
}

.food {
    forced-color-adjust: none;
    width: 20px;
    height: 20px;
    background-color: #bd3d3d;
    border-radius: 50%;
}

.cell {
    border: 1px solid transparent;
}

.countdown {
    forced-color-adjust: none;
    display: none;
    position: absolute;
    font-size: 72px;
    font-family: Algerian, serif;
    color: #f00;
    z-index: 999;
    margin-top: 200px;
    margin-left: 200px;
}

.cell {
    width: 20px;
    height: 20px;
    /*border: 1px solid rgba(3, 3, 3, 0.2);*/
   /* border: none;*/
}

.pause__popup, .settings__popup {
    forced-color-adjust: none;
    display: flex;
    position: absolute;
    background-color: #eadfc0;
    width: 500px;
    height: 250px;
    border: 10px solid #6c4e2c;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .settings__popup {
    flex-direction: column;
  }

  .pause__popup.show {
    /* Стили для появления */
    opacity: 1;
  }

  .settings__popup.show {
    opacity: 1;
  }

.pause__popup-title {
font-size: 72px;
font-family: Algerian, serif;
}

.lable__difficulty {
    forced-color-adjust: none;
    font-family: Algerian, serif;
    font-size: 36px;
    border: 2px double #6c4e2c; 
    border-radius: 5px; 
    padding: 5px;
    margin-bottom: 10px;
}
.btn__difficulty {
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 3px;
}
.btn__difficulty-text {
    font-family: Algerian, serif; 
}
.checkbox__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#cell__checkbox {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.label__checkbox {
    font-family: Algerian, serif;   
}

.container__control-btns {
    display: none;
    flex-direction: column;
    position: relative;
    width: 600px;
    height: 220px;
    margin-left: 230px;
}

.arrow__btn {
    forced-color-adjust: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #666;
    color: white;
}
.up {
    margin-left: 250px;
    margin-bottom: 20px;    
}

.other__buttons-control {
    display: flex;
    position: relative;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media(hover: none){
    .container__control-btns {
        display: flex;
  }
}